// 
// user.scss
// Use this to write your custom SCSS
//

// Genel Content Padding Class - Tüm sayfalar için
.page-container {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

// Tablo hücrelerinin mobilde tek satırda kalmasını sağlayan global stil
table {
  th,
  td {
    white-space: nowrap;
  }
}

// Horizontal scroll için tablo containerı
table tbody tr {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}